{% extends "base.html" %}

{% block page_title %}
Home
{% endblock page_title %}


{% block content %}
   <div class="container mx-auto pb-10">
      <div class="container mx-auto bg-gray-800 h-50vh my-28 rounded-2xl bg-cover bg-center" style="background-image:url(https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2593&q=80)"></div>

      <div class="flex flex-wrap -mx-16 mb-10">
         {% for room in rooms %}
            {% include "mixins/room_card.html" with room=room %}
         {% endfor %}
      </div>

      <div class="flex justify-center mx-auto container">
         {% if  page_obj.has_previous %}
            <a href="/?page={{page_obj.previous_page_number}}"><i class="fas fa-chevron-left"></i></a>
         {% endif %}

         <span class="mx-4 font-normal">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

         {% if  page_obj.has_next %}
            <a href="/?page={{page_obj.next_page_number}}"><i class="fas fa-chevron-right"></i></a>
         {% endif %}
      </div>

   </div>

{% endblock content %}


